@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255 255 240;
  --background-end-rgb: 255, 255, 220;
  --primary-text-rgb: 20, 20, 80;
  --link-color: #0070f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}


p {
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));
}

ul {
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));
  margin-left: 1rem;
}
li {
  margin-bottom: 0.5rem;
  color: rgb(var(--secondary-text-rgb));
  list-style-type: disc; /* This ensures that the list item has a bullet */
  padding-left: 1rem; /* Adds some padding to align the text nicely with the bullet */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));

}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));

}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));

}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(var(--primary-text-rgb));

}

.contactCard {
  background: rgb(var(--background-rgb));
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactCard dl div {
  @apply flex;
  justify-content: start;
  gap: 0.5rem;
}

.contactCard dt {
  font-weight: 600;
  text-align: right;
  width: 4rem;
}
.contactCard dd {
  margin-left: 0;
  text-align: left;
}
.contactCard a {
  color: var(--link-color);
}

.menu {
  @apply bg-gray-800 text-white p-1;
}

.menu ul {
  @apply flex gap-2 m-0;
}
.menu li {
  @apply list-none m-0;
}
.menu a {
  @apply text-yellow-300 hover:text-gray-300;
}